.root
{
   -fx-background-color: #EAEEF4;
}
.sideanchorpane
{
        -fx-background-color: #353A56;
   /* -fx-border-color: #2207bb; */
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-style: solid;

}
.innerpane
{
    -fx-background-color: #748CF1;
    /* -fx-border-color: #2207bb; */
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
.mostinnerpane
{
    -fx-background-color: #6780E2;
    /* -fx-border-color: #2207bb; */
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;

}
.home_btn
{
    -fx-background-color: #6780E2;
    /* -fx-border-color: #2207bb; */
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;

}

.txt_search
{
    -fx-background-color: #FFF;
    /* -fx-border-color: #2207bb; */
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #000000;
}
.leftform
{
    -fx-background-color: #6780E2;
}
.rightform
{
    -fx-background-color: #353A56;
}
.white-bg
{
    -fx-background-color: #6780E2;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px ;
    -fx-border-color: #000;
    -fx-border-style: solid  ;
}
.dark-bg
{
    -fx-background-color: #353A56;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px ;
    -fx-border-color: #000;
    -fx-border-style: solid  ;
}